@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.mb-120{margin-bottom: 120px;}
.mb-35{margin-bottom: 35px;}
.account-title{font-family: var(--font-secondary);font-weight: 400;font-size: 45px;line-height: 80.5px;padding-top: 120px}
.account-subtitle{font-family: Roboto;font-size: 14px;line-height: 14px;letter-spacing: 3.08px;text-align: center;text-transform: uppercase;margin-bottom: 35px}
.form-1-column{max-width: 412px;}
.form-2-column{max-width: 700px;}
.account-form{
	&.input-white{
		.form-control{background-color: white;}
	}
	a{color: #878787;font-size: 14px;line-height: 14px;letter-spacing: 1.68px;}
	.btn{letter-spacing: 2px;font-weight: 500;font-size: 11px}
	.dot{width: 2px;height: 2px;border-radius: 100%;background-color: #878787}
	.btn-outline-secondary{height: 39px;}
	.group-element{display: flex;column-gap: 13px;
		.btn{min-width: 75px;flex-shrink: 0;font-size: 14px;font-weight: 600}
	}
	[type="submit"]{min-width: 173px;text-align: center;font-size: 16px}
}
.membership-item{margin-bottom: 64px;
	.title-box{	border-top: 3px solid #1C1C1C;padding-top: 29px;padding-bottom: 32px;
		.title{font-weight: 600;font-size: 28px;line-height: 20px;text-transform: uppercase;}
		.btn{line-height: 15px;}
	}
	.content{padding:31px 32px;border-bottom: 1px solid #EEEEEE;border-top: 1px solid #EEEEEE;
		.img img{width: 335px;box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.2);border-radius: 10px}
		ul{
			li{color: #878787;font-size: 16px;line-height: 20px;text-transform: uppercase;display: flex;column-gap: 16px;
				strong{font-weight: 400;color: #1C1C1C;white-space: nowrap;}
			}
		}
		.price-box{
			strong{font-size: 20px;line-height: 20px;text-transform: uppercase;}
			span{color: #878787;font-size: 12px;line-height: 20px;text-transform: uppercase;}
		}
		.custom-number-input{max-width: 173px;
			.form-control{padding-left: 24px;}
		}
		.right{
			strong{font-weight: 600;font-size: 24px;line-height: 20px;text-transform: uppercase;
				&.text-gold{font-size: 20px;}
			}
		}
	}
}

.summary-box{padding: 48px 32px;background-color: #F8F8F8;
	p{font-size: 18px;line-height: 20px;text-transform: uppercase;}
	strong{font-weight: 600;font-size: 28px;line-height: 30px;}
}
.payment-box{
	.border-box{padding: 32px;border: 1px solid #EEEEEE;
		.title{font-weight: 600;font-size: 20px;line-height: 20px;margin-bottom: 32px;display: block;}
		ul{padding-top: 15px;border-top: 1px solid #EEEEEE;padding-top: 15px;
			li{display: flex;column-gap: 16px;align-items: center;justify-content: space-between;
				span{color: #878787}
			}
		}
		.btn.btn-lg{font-weight: 600;font-size: 18px;line-height: 15px;letter-spacing: 2px;text-transform: uppercase;min-width: 173px;padding-top: 20px; padding-bottom: 16px;}
	}
}