@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.mb-120{margin-bottom: 120px;}
.mb-35{margin-bottom: 35px;}
.account-title{font-family: var(--font-secondary);font-weight: 400;font-size: 45px;line-height: 80.5px;padding-top: 120px}
.account-subtitle{font-family: Roboto;font-size: 14px;line-height: 14px;letter-spacing: 3.08px;text-align: center;text-transform: uppercase;margin-bottom: 35px}
.form-1-column{max-width: 412px;}
.form-2-column{max-width: 700px;}
.account-form{
	&.input-white{
		.form-control{background-color: white;}
	}
	a{color: #878787;font-size: 14px;line-height: 14px;letter-spacing: 1.68px;}
	.btn{letter-spacing: 2px;font-weight: 500;font-size: 11px}
	.dot{width: 2px;height: 2px;border-radius: 100%;background-color: #878787}
	.btn-outline-secondary{height: 39px;}
	.group-element{display: flex;column-gap: 13px;
		.btn{min-width: 75px;flex-shrink: 0;font-size: 14px;font-weight: 600}
	}
	[type="submit"]{min-width: 173px;text-align: center;font-size: 16px}
}
.membership-item{margin-bottom: 64px;
	.title-box{	border-top: 3px solid #1C1C1C;border-bottom: 1px solid #EEEEEE;padding-top: 29px;padding-bottom: 31px;
		.title{font-weight: 600;font-size: 28px;line-height: 20px;text-transform: uppercase;}
	}
	.content{padding: 32px;}
}