@font-face {
    font-family: 'Pretendard';
    font-weight: 45 920;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/PretendardVariable.woff2') format('woff2-variations');
}

:root{
	--text-primary: #1C1C1C;
	--text-secondary: #455560;
	--bs-border-radius:4px;
	--bs-border-color:#EAEFF4;
	--bs-secondary-rgb: 9, 18, 54;
	--main-color:#89B97C;
}
html{font-size: 16px}
body{font-family: "Pretendard", sans-serif;color: var(--text-primary);}
a{text-decoration: none;color: var(--text-primary);}
hr{opacity: 1;border-color: #E8E8E8;}
.column-gap-10{gap: 10px;}
.column-gap-20{gap: 20px;}
.column-gap-30{gap: 30px;}
.gap-20{gap: 20px;}
.gap-40{gap: 40px;}
.w-column-4{width: 33.33333% !important}
.mb-30{margin-bottom: 30px;}
.mb-20{margin-bottom: 20px;}
.h-36{height: 36px !important;}
.h-42{height: 42px}
.p-20{padding: 20px}
.fs-14{font-size: 14px !important;}
.fs-12{font-size: 12px !important}
.letter-spacing-1{letter-spacing: 0.01em}
.container-fluid,.row{--bs-gutter-x:64px}
.btn{display: flex;align-items: center;column-gap: 3px;padding:14px 11px;border-radius: 4px;font-weight: 600;font-size: 12px;line-height: 17px;
	span{line-height: 14px;display: block;}
	&.btn-sm{font-size: 12px;letter-spacing: -1px;line-height: 9px;padding: 8px 12px; height: 36px;}
}
.btn-primary{
	--bs-btn-bg: #89B97C;--bs-btn-hover-bg: #89B97C;--bs-btn-hover-border-color: #89B97C; --bs-btn-border-color: #89B97C;
	--bs-btn-active-bg: #89B97C;
    --bs-btn-active-border-color: #89B97C;
}
.btn-outline-secondary{
	--bs-btn-border-color: var(--bs-border-color);
	--bs-btn-hover-border-color:var(--bs-border-color);
	color:var(--text-primary) !important;background-color: white !important;
}
.btn-secondary{
	--bs-btn-color: #878787;
   --bs-btn-bg: #F4F4F4;--bs-btn-border-color:#F4F4F4;
	padding: 6px;line-height: 16px;
}
.bg-gray{background-color: #FAFBFD !important}
.text-light{color: #BEBDBD !important}
.text-danger{color: #FF3700 !important}
.text-primary{color: var(--main-color) !important;}
.form-select{width: auto;box-shadow: none !important;color: #878787;font-size: 12px;letter-spacing: 0.01em;height: 42px;border-color: #E8E8E8 !important;min-width: 124px;
	&.text-secondary{color: #BEBDBD !important;
		&.selected{color: var(--text-primary) !important;}
	}
	&.min-width-inherit{min-width: inherit;}
	&:disabled{background-color: white;}
}
.form-control{color: var(--text-primary);font-size: 13px;box-shadow: none !important;border-color: var(--bs-border-color) !important;height: 42px;
	&::placeholder{color: #BEBDBD}
}
textarea.form-control{min-height: 60px}
.input-group{
	.input-group-text{background-color: white;padding-right: 0}
	.form-control{border-left: 0;max-width: 334px;height: inherit;}
	&.icon-right{
		.input-group-text{padding-right: 0.75rem}
		.form-control{border-left: 1px solid;padding-right: 0;border-right: 0}
	}
}
.form-check{padding-left: 0;display: flex;align-items: center;column-gap: 8px;margin-bottom: 0;
	.form-check-input{float: none;margin-left: 0;opacity: 1 !important;margin-top: 0;
		&:disabled{border:none;
			background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="1" y="1" width="18" height="18" rx="9" stroke="%23878787" stroke-width="2"/><circle cx="10" cy="10" r="6" fill="%23878787"/></svg>');
		}
	}
	.form-check-label{font-size: 14px;line-height: 20px;letter-spacing: -0.02em;opacity: 1 !important;color: #2A3547}
}
.form-label{color: #2A3547;font-weight: 600;font-size: 14px;min-width: 160px;margin-bottom: 0}
.form-check-input{width: 20px;height: 20px; box-shadow: none !important;cursor: pointer;border-width: 2px;border-color: #DBDBDB;
	&[type=checkbox]{border-radius: 0}
	&:checked{background-color: transparent;border: none;
		background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="1" y="1" width="18" height="18" rx="9" stroke="%2389B97C" stroke-width="2"/><circle cx="10" cy="10" r="6" fill="%2389B97C"/></svg>');
	}
	&.rounded-circle{background-size: 10px auto;}
}

.input-date{
	background: url("images/icon-calendar.svg") no-repeat center right 12px;
	&::-webkit-calendar-picker-indicator {display: none;-webkit-appearance: none;}
}
.cell-max-content{width: 1px;
	>*{white-space: nowrap;}
}
.line-between{
	>*{border-right: 1px solid #F4F4F4;
		&:last-child{border-right: none}
	}
}
.card{border: none;margin-bottom: 30px;border: none;
	--bs-card-border-radius:0px;
	--bs-card-cap-bg:white;
	--bs-card-color:var(--text-primary);
	box-shadow: 0px 12px 24px -4px rgba(145, 158, 171, 0.12),0px 0px 2px 0px rgba(145, 158, 171, 0.2);


	.card-header{padding: 30px;border-color: #EEEEEE;
		.title{font-weight: 500;font-size: 14px;line-height: 120%;display: block;}
	}
	.card-body{padding: 12px 16px;
		.section-box{padding: 30px;border-bottom: 1px solid #EEEEEE;display: flex;flex-direction: column;row-gap: 20px}
		.sub-title{background: #89B97C;width: max-content;color: white; border-radius: 100px;padding: 1px 16px;font-weight: 600;letter-spacing: 0.01em;}
	}
}

.tr-sm{
	th,td{padding: 10px 4px !important;}
	.btn.btn-sm{padding-top: 6px;padding-bottom: 6px;height: auto;}
}
table.table{text-align: center;--bs-table-hover-bg:#FAFBFD;
	.text-start{width: 22px;}
	th,td{font-size: 14px;line-height: 19px;letter-spacing: -0.02em;padding: 20px 4px;color: var(--text-primary);vertical-align: middle;}
	th{font-weight: 600;letter-spacing: -0.01em}
	tbody{
		tr:last-child td{border: none;}
	}
	.btn{width: 90px;font-size: 12px;letter-spacing: -0.01em;margin: 0 auto;}
}
.group-item{
	background-color: white;border-radius: 10px;box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.05);display: flex;align-items: center;
	padding: 14px 0px;max-height: 44px;
	.item{
		border: none;background-color: transparent;padding: 0 20px;font-weight: 500;font-size: 12px;line-height: 120%;letter-spacing: -0.01em;
		display: flex;align-items: center;column-gap: 10px;border-right: 1px solid #BEBDBD;
		&:last-child{border-right: none;}
	}
}
.page-title{color: #2A3547;font-weight: 600;font-size: 20px;line-height: 140%;letter-spacing: -0.01em;margin-bottom: 32px;}
.main-header{padding: 20px 32px;height: 72px;
	.open-notif-btn{
		span{position: absolute;width: 16px;height: 16px;background-color: #FF6B72;color: white;font-size: 12px;
			display: flex;align-items: center;justify-content: center;border-radius: 100%;top: -6px;right: -6px;
		}
	}
}
.sub-navbar{padding-left: 16px;padding-right:16px;background-color: #F2F6FA;margin-bottom: 30px;border-radius: 8px;
	ul{display: flex;column-gap: 30px;margin-bottom: 0;
		a{padding:11px 12px;display: flex;column-gap: 8px;border-bottom: 3px solid transparent;border-top: 1px solid transparent;
			&.active{border-bottom-color: var(--main-color);
				span{color: var(--main-color);}
				img.active{display: block;}
				img.not-active{display: none;}
				svg path{stroke: var(--main-color);}
			}
			span{color: #878787;font-weight: 500;font-size: 14px;letter-spacing: 0.02em}
			img.active{display: none;}
		}
	}
}
.content-grid{
	.d-table-cell{vertical-align: middle;line-height: 38px;
		p{font-size: 12px;line-height: 140%;letter-spacing: -0.03em;}
	}
	.form-control{max-width: 350px}
	.form-check-input{vertical-align: middle;margin-top: 0}
	strong{font-weight: 500;font-size: 12px;line-height: 17px;letter-spacing: -1px;}
	p,span{font-size: 12px;letter-spacing: -1px;margin-bottom: 0;}
	hr{border-color: #F4F4F4;margin-top: 10px;margin-bottom: 10px;}
	&.table-spacing{padding: 10px 5px;
		.d-table{border-collapse: separate; border-spacing: 15px 10px;}
	}
}
.main-sidebar{
	.box{width: 255px;min-height: 100vh;transition: 0.2s all;
		.description{padding: 8px 20px;font-weight: 600;font-size: 12px;line-height: 22px;color: rgba(26, 51, 83, 0.6)}
		p{padding-left: 12px;color: var(--text-secondary);font-size: 10px;line-height: 14px;margin-bottom: 15px;}
	}
	ul{
		a{display: flex;column-gap: 10px;font-size: 14px;color: var(--text-secondary);line-height: 22px;padding: 9px 24px;align-items: center;
			&.active{background-color: rgba(137, 185, 124, 0.2);color: #385D31;}
		}
	}
	&.sidebar-collapsed{
		.box{width: 96px;}
		span{display: none;}
		a{justify-content: center;}
		.logo{
			img{margin:  0 auto;}
			img:first-child{display: none;}
			img:last-child{display: block;}
		}
		.description{
			p{padding-left: 0;text-align: center;}
			p:first-child{display: none;}
			p:last-child{display: block;}
		}
	}
}


.main-content{background-color: #F5F5F5;padding-top: 32px;position: relative; min-height: calc(100% - 72px);}
.form-action{box-shadow: 0px -2px 8px 0px rgba(0, 0, 0, 0.1);padding-top: 20px;padding-bottom: 20px; position: fixed; width: calc(100vw - 218px);;bottom: 0;background-color: white;
	margin-right: calc(-.5* var(--bs-gutter-x)); margin-left: calc(-.5* var(--bs-gutter-x));
	>*{height: 45px;padding-left: 20px;padding-right: 20px;min-width: 91px}
	.btn-outline-secondary{color: #878787 !important}
}


